/* .container {
  max-width: 960px;
  margin: 0 auto;
} */

.imgegg{
    width: 198px;
    height: 265px;
}
.content-con {
  display: flex;
  justify-content: space-between;
}
.content-con:first-child,
.content-con:last-child {
  padding: 5rem 0;
}
.content-l img {
  width: 326px;
  height: 286px;
  border-radius: 10px;

}
.content-r {
  padding: 2rem;
  text-align: left;

}
.fontcolor{
    color: #846F2C;
}

@media screen and (max-width: 480px) {
  .content-con {
    flex-direction: column;
  }
  .content-con:nth-child(2) .content-r {
    order: 1;
  }
}
