.grid {
    display: grid;
    row-gap: 16px;
    column-gap: 16px;
}

.grid-1 {
    grid-template-columns: 1fr;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}
.box {
    border: 1px solid rgb(8, 158, 207);
    border-radius: 12px;
    padding: 8px 16px;
}
.imge {
    position: absolute;
width: 740px;
height: 470px;
}

.imgeshow{
    width: 300px;
    height: 400px;

}
.imge{
    height: 49%;
    width: 58%;
}
.imges{
    height: 90%;
    width: 80%;
}

.showall{
    height: 30%;
    width: 40%;
}
.Lightbox{
    width: 257px;
    height: 270px;
}