/* @media only screen and (max-width: 500px) {
  #navRes {
    display: none;
  }
  #itemNav {
    display: none;
  }
}

#navFix {
  position: sticky;
 top: 0;
 z-index: 20;
 width: 100%;

}
@media(min-width:801px){
  #hamburger{
    display: none;
  }
}
@media (max-width:800px) {
  #resumeBtn{
    display: none;
  }
}

 */
.inglogo {
  height: 41px;
  width: 49px;
  bviewbox: 0 0 49 48;
  fill: none;
}
.buttonnav{
  background-color: #4C7A6D;
    color: white;
    font-size: 16px;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 10px 0px;
}
.fontee{
  font-size: 19px;
}
.bgbutton{
  background-color: #4C7A6D;
  color: white;
  font-size: 16px;
  padding: 10px 50px;
  border-radius: 5px;
  margin: 10px 0px;
  cursor: pointer;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #ffffff;
  padding: 5px 100px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
}
#navbar {
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar li {
  list-style: none;
  padding: 1px 60px;
  position: relative;
}

#navbar li a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  color: #000000;
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: #17cf97;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#mobile {
  display: none;
}

#mobile i {
  align-items: center;
}

@media screen and (max-width: 769px) {
  #navbar {
    z-index: 999;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 74px;
    right: -300px;
    width: 300px;
    height: 100vh;
    background: #846F2C;
    box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
    padding: 40px 0 0 10px;
    transition: 0.3s ease-in-out;
    
  }

  #navbar.active {
    right: 0px;
  }

  #navbar li {
    margin-bottom: 25px;
    color: #ffffff;
  }

  #mobile {
    display: block;
  }

  #mobile i {
    font-size: 24px;
    cursor: pointer;
  }
  #buttonnav{
  display: none;
  background-color: #4C7A6D;
    color: white;
    font-size: 16px;
    padding: 10px 50px;
    border-radius: 5px;
    margin: 10px 0px;
}

}


