.sile_conter img {
    width: 200px;
    height: 320px;
    border-radius: 10px;
}
.Colo{
    width: 300px;
    height: 411px;
}
.contbg {
    height: 100%;
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(132, 111, 44, 0.25);
  }

  .fontherder{
    color:#846F2C ;
  }


